.toc-box {
  border-radius: 12px;
  overflow: hidden;
  max-width: 35vw;
  margin-left: auto;
  margin-right: auto;
}

#toc-header {
  cursor: pointer;
}

#toc-title{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.toc-list {
  list-style: none;
  padding: 12px 0;
  margin: 0;
}

.toc-list li a {
  display: block;
  padding: 7px 20px;
  text-decoration: none;
  border-left: 3px solid transparent;
}

.toc-list li a:hover {
  background: linear-gradient(90deg, /* FALLBACK */
      color-mix(in srgb, var(--primary) 60%, transparent),
      color-mix(in srgb, var(--primary) 40%, transparent));
  border-left-color: var(--primary);
  color: var(--link);
}

/*.toc-list li.h3 a {

  padding-left: 36px;
  font-size: 13px;
}*/