#toc-box {
  border-radius: 12px;
  overflow: hidden;
  max-width: 100vw;
  /*margin-left: auto;
  margin-right: auto;

  display: grid;
  justify-content: center;*/
}

#toc-header {
  cursor: pointer;
}

#toc-title{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

#toc-list {
  list-style: none;
  margin: 0;
}

#toc-list li a {
  display: block;
  padding: 3px 10px 3px 0px;
  text-decoration: none;
  border-left: 3px solid transparent;
}

#toc-list li a:hover {
  background: linear-gradient(90deg, /* FALLBACK */
      color-mix(in srgb, var(--primary) 60%, transparent),
      color-mix(in srgb, var(--primary) 40%, transparent));
  border-left-color: var(--primary);
  color: var(--link);
}
