:root {
  --text: #1f1f1f;
  --muted: #6b6b6b;
  --primary: #a82596;
  /* Mulberry */
  --border: #dddddd;
  --link: #06608f;
  /* Midnight Blue */
  --background: #EEF3F6;
  --button-background: #1f1f1f;
  --search-background: white;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  background: var(--background);
  color: var(--text);
  line-height: 1.65;
  text-align: justify;
}

/* =========================
   TOP BAR
   ========================= */
.topbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 3rem;
  background: #ffffff;
}

.input {
  padding-top: 2rem;
  border-bottom: 1px solid var(--border);
  padding-bottom: 3rem;
  height: 7rem;
}

/* =========================
   LAYOUT 3 COLONNE
   ========================= */

/* Create three equal columns that floats next to each other */


.row {
  display: flex;
  align-items: flex-start;
  /* fondamentale per sticky*/
  padding-right: 1vw;
  /* per non far sovrapporre le scrollbar destra e generale*/
}

.left {
  width: 19.1%;
  position: sticky;
  top: 1rem;
  max-height: 100vh;
  z-index: 10;
}

.middle {
  width: 61.8%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow: visible;
}

.right {
  width: 19.1%;
  position: sticky;
  top: 1rem;
  max-height: 100vh;
  z-index: 10;
}

.footer {
  width: 100vw;
  background: white;
  color: #1f1f1f;
  margin-top: 2rem;
  padding: 25px;
  border-top: 1px solid var(--border);
}


/* =========================
   CONTENUTO PRINCIPALE
   ========================= */

#logo_link {
  display: flex;
  justify-content: center;
  align-items: center;
}

#foto_logo {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding-top: 3rem;
}

/* =========================
   TITOLI
   ========================= */
h1,
h2,
h3,
h4 {
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}


h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.35rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
}

article h1,
article h2,
article h3 {
  position: sticky;
  top: 0;
  background: var(--background);
  /*box-shadow: 0px 5px 5px 0px var(--text);*/
  z-index: 5;
  padding-top: 7.5px;
  padding-bottom: 10px;
  border-radius: 0px 0px 5px 5px;
}

article h1.is-stuck,
article h2.is-stuck,
article h3.is-stuck {
  box-shadow: 0px 5px 5px -5px var(--text);
  /*background-color: red; placeholder per controllare se funziona*/
  backdrop-filter: blur(10px);
  /*background-color: color-mix(in srgb, var(--background) 80%, transparent);
  NON SO COSA SIA PIÙ BELLO */
  background: color-mix(in srgb, var(--primary) 50%, transparent);
  /* FALLBACK */
  background: linear-gradient(90deg,
      color-mix(in srgb, var(--primary) 60%, transparent),
      color-mix(in srgb, var(--primary) 40%, transparent));
  transition: box-shadow 0.125s ease-out, border-color 0.125s ease-out, background-color 0.125s ease-out;
  border-left: 3px solid var(--primary);

  /*font-size: 0.9em;*/
}


/* =========================
   TESTO
   ========================= */
p {
  margin-bottom: 1rem;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

strong {
  color: var(--primary);
}

.box-attenzione {
  border-style: solid;
  border-width: 2px;
  border-color: var(--primary);
  border-radius: 10px;
  margin: 0 20px;
  padding: 5px 20px;
}

/* ======================= FIGURE GENERALE =========== */

img {
  max-width: 75%;
  max-height: 30rem;
  height: auto;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

figcaption {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: small;
}

.allargata {
  max-width: 95%;
  transition: all .25s linear;
}

/* ================ BOTTONI VERSIONE MOBILE ======== */

#bottoni_mobile {
  visibility: hidden;
  height: 0;
  width: 0;
}