/* ======================= MAIN CSS ======================= */

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 992px) {
  .row{
    padding-right: 0;
  }

  .left {
    margin: 0;
    padding: 0;
    width: 0;
    top: 0;
  }

  .middle {
    padding: 0px 15px;
    width: 100%;
  }

  .right {
    margin: 0;
    padding: 0;
    width: 0;
    top: 0;
  }

  main {
    padding-top: 0rem;
  }

  .input {
    padding-bottom: 2rem;
  }

  #foto_logo {
    width: 80vw;
  }

  /* ==================== MARGIN INDICE =========================== */
  .h3_indice {
    margin-left: 3rem;
  }

  .h4_indice {
    margin-left: 4.5rem;
    margin-top: -0.5rem;
  }

  /* =================== BOTTONI MOBILE =============== */
  #bottoni_mobile {
    visibility: visible;
    display: flex;
    height: 20pt;
  }

  #apri-indice-mobile {
    position: absolute;
    width: 50%;
    height: 30px;
    background-color: var(--search-background);
    color: var(--text);
    border-top: 0px;
    border-left: 0px;
    border-bottom: 1px solid var(--border);
    border-right: .5px solid var(--border);
    cursor: pointer;
  }

  #apri-accessibilità-mobile {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 30px;
    background-color: var(--search-background);
    color: var(--text);
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid var(--border);
    border-left: .5px solid var(--border);
    cursor: pointer;
  }

  .titolo-bottone-mobile {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  /* ======================= COLONNA SINISTRA ===========*/
  .indice {
    width: 0;
    opacity: 0;
    transition: width 0.25s ease-out, padding 0.25s ease-out, opacity 0.25s ease-out;

    background-color: var(--search-background);
    border: 0.5px solid var(--border);
    box-shadow: 6px 16px 16px 0px var(--text);
    border-radius: 0px 10px 10px 0px;
    padding: 0;
    z-index: 1;
    margin-top: 3px;
  }

  .indice_aperto {
    width: 50vw;
    padding-top: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    opacity: 1;
  }

  .dropdown {
    width: 0;
    background-color: transparent;
  }


  .dropdown_aperto {
    width: calc(50vw - 15px);
  }

  /* ======================= COLONNA DESTRA ===========*/

  .sidebar_right {
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 0;
    opacity: 0;
    transition: width 0.25s ease-out, padding 0.25s ease-out, opacity 0.25s ease-out;

    background-color: var(--search-background);
    box-shadow: -6px 16px 16px 0px var(--text);
    border-radius: 10px 0px 0px 10px;
    border: 0.5px solid var(--border);
    padding: 0;
    margin-top: 3px;
  }

  .right_aperta {
    width: 50vw;
    opacity: 1;
    padding-top: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .contenuto_destra {
    margin-right: -15px;
  }
}

@media screen and (max-width: 600px) {

  /* ======================= COLONNA SINISTRA ===========*/
  .indice_aperto {
    width: 80vw;
  }

  .dropdown_aperto {
    width: calc(80vw - 15px);
  }

  /* ======================= COLONNA DESTRA ===========*/
  .right_aperta {
    width: 80vw;
  }
}