---
---

<link rel="stylesheet" href="/colonna_sinistra_indice/stile_indice.css">

<aside id="indice" class="indice">
	<h1 class="h1_indice">
		Indice
	</h1>
	<div class="dropdown" id="dropdown">

		{% for materia in site.data.indice %}
		<button class="dropbutton">
			<p class="chevron">
				&#8250
			</p>
			<h2 class="h2_indice">
				{{ materia.materia }}
			</h2>
		</button>

		<div class="dropdown-content">
			{% for capitolo in materia.capitoli %}
			<h3 class="h3_indice">
				{{ capitolo.titolo }}
			</h3>
			<div>
				{% for lezione in capitolo.lezioni %}
				<a href="{{ lezione.url }}">
					<h4 class="h4_indice">
						{{ lezione.titolo }}
					</h4>
				</a>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</aside>

<!--
FISICA SPERIMENTALE - LABORATORIO h2
	- Metodo Scientifico h3
		- Cenni Storici h4
		- Il metodo
		- Fondamenti e applicazioni
		- Esempi scelti
		- Compendio
	- Teoria della Misura & Metrologia 
		- Introduzione e Metrologia
		- Vocabolario di Metrologia
		- Unità di Misura & Sistema Internazionale
		- Altri sistemi di misura
		- Cifre significative
		- Analisi dimensionale
		- Teoria dell'errore
		- Tipologia di errori
		- Incertezze, errori e analisi probabilistica
		- Compendio
	- Teoria della Probabilità 
		- Cenni Storici
		- Definizione di Probabilità
		- Dipendenza logica e teorema di Bayes
		- Convergenza statistica, legge dei grandi numeri, legge di Bernoulli
		- Distribuzioni di probabilità
		- Analisi di distribuzioni di probabilità
		- PMF uniforme
		- PMF bernoulliana
		- PMF binomiale
		- PMF poissoniana
		- PDF uniforme
		- PDF triangolare
		- PDF esponenziale
		- PDF normale o Gaussiana
		- Approfondimento : la gaussiana
		- Indipendenza logica e covarianza
		- Indice di correlazione lineare o indice di Pearson (-Bravais)
		- Costruzione di PF variabile
		- Momenti lineari 
		- Propagazione degli errori casuali
	- Statistica descrittiva
		- Introduzione
		- Valore di aspettazione e teorema di Cebiscef
		- Varianza campionaria
		- Caso particolare : varianza campionaria per il caso gaussiano
		- Correlazione, covarianza e propagazione errori campionari
		- Riepilogo
	- Statistica inferenziale
		- Il processo di stima
		- Stimatori
		- Verosimiglianza
		- Massima verosimiglianza e minimi quadrati
		- Test d'ipotesi
		- Test del Chi Quadro
		- Test Zeta
		- Test del t (di Student)
		- Test di Kramer ed altri
		- Interpolazione ed estrapolazione
		- Interpolazione lineare (più metodi)
		- Interpolazione parabolica
		- Interpolazione polinomiale
		- Interpolazione esponenziale
		- Interpolazione gaussiana
		- Interpolazione Brit-Wigner
		- Guida all'interpolazione o fit

	- Complementi
		- Statistica multivariata
	- Compendio
	- Bibliografia & Fonti (vedere Loreti x cosa aggiungere)
	
	- Rappresentazione dei dati
		- Tipologie di grafici
		- how to et similaria
	- Guida all'Analisi dati e agli Errori
	- Esempi di relazioni di laboratorio e report scientifici
		- tutte le relazioni dal 1° al 4° anno, commentate.

	- Guida all'analisi (Python, Excel,...)
	- Strumenti informatici
	- Scrivere un report

-->