.h1_indice,
.h2_indice,
.h3_indice,
.h4_indice {
  text-align: left;
}

.h1_indice {
  color: var(--primary);
}

.h3_indice {
  margin-left: 3rem;
}

.h4_indice {
  margin-left: 4.5rem;
  margin-top: -0.5rem;
}

/* ========== MENÙ A CASCATA ================= */

.indice{
  max-height: 100vh;
}

.dropbutton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  color: var(--text);
  height: 30px;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

.dropdown {
  display: inline-block;
  overflow: auto;
  padding-bottom: 1rem;
}

/* Dropdown content */
.dropdown-content {
  max-height: 0;
  opacity: 0;
  background-color: transparent;
  overflow: hidden;
  min-width: 160px;
  z-index: 1;
  transition: max-height .5s ease,
    opacity .5s ease;
}

/* Links inside dropdown content */
.dropdown-content a {
  color: var(--link);
  text-decoration: none;
  display: list-item;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: var(--primary);
}

.attivo {
  box-shadow: inset 3px 0 0 var(--primary);
  background: linear-gradient(90deg, /* FALLBACK */
      color-mix(in srgb, var(--primary) 60%, transparent),
      color-mix(in srgb, var(--primary) 40%, transparent));
  background: linear-gradient(90deg,
      oklch(from var(--primary) l c h / 0.6),
      oklch(from var(--primary) l c h / 0.4));
}

.show {
  max-height: 1000vh;
  /*questo viene sistemato in automatico nel js*/
  opacity: 1;
}

/* ========== MOVIMENTO CHEVRON ==============*/
.chevron {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  top: -.4rem;
  transition: transform 0.5s ease;
  margin: 0px 13.825px;
}